@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.body-lock {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: var(--font-roboto), var(--font-ibm-thai), var(--font-lao), sans-serif;
}

/* Body defaults */
body {
  line-height: 1.5;
  font-size: 16px;
}

/* Links */
a {
  text-decoration: none;
}

/* Images */
img {
  display: block;
  object-fit: cover;
  object-position: center;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Chrome, Safari, Edge */
/* ::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
} */

